
@{
    ViewBag.Title = "Logged in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 class="display-1 text-center m-5">Logged In!</h2>
    <a href="@Url.Action("Index", "Home")" class="btn btn-sucess btn-block btn-lg">Go Back</a>
</div>